APP_URL=http://localhost:3000
BETTER_AUTH_URL=http://localhost:3000
# Generate with: openssl rand -base64 48
BETTER_AUTH_SECRET=
DATABASE_URL=
MEDIA_DIR=./media
DEMO_MODE=false
SMTP_HOST=mail
SMTP_PORT=1025
SMTP_FROM=Žilet <noreply@zilet.local>
SMTP_USER=
SMTP_PASSWORD=
SMTP_SECURE=false
REGISTRATION_ENABLED=true
TRUST_PROXY=false
UMAMI_URL=
UMAMI_WEBSITE_ID=
UMAMI_USERNAME=
UMAMI_PASSWORD=
POSTGRES_PASSWORD=
APP_PORT=3000
MAIL_PORT=8025
COMMENTS_REQUIRE_APPROVAL=false
DB_PORT=55439
